.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drop {
  position: absolute;
  bottom: 100%;
}

.stem {
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  animation: drop 0.5s linear infinite;
}

.splat {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: splat 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120vh);
  }
}

@keyframes splat {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Needed for two-layer rain */
.rain.front-row .drop .stem {
  opacity: 0.8;
}

.rain.back-row .drop .stem {
  opacity: 0.4;
}
